@{
	ViewData["Title"] = "Login";
}

<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
	<h1 class="mb-4">Логин</h1>
	<form method="post" asp-action="Login" asp-controller="Login">
		<div class="form-group d-flex flex-column align-items-center">
			<div class="w-100">
				<label class="control-label">Логин:</label>
				<input asp-for="Login" class="form-control" name="Login" />
			</div>
			<div class="w-100">
				<label class="control-label">Пароль:</label>
				<input asp-for="Password" class="form-control" type="password" name="Password" />
			</div>
			<div class="mb-2 w-100">@ViewData["Message"]</div>
			<button class="btn btn-primary" type="submit">Log in</button>
		</div>
	</form>
</div>